.sidebar-brand {
    margin: 40px 0 30px;
}
.docs-sidebar {
    .docs-sidenav {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;
    }
}
.sidebar-footer {
    margin-top: 60px;
}
.page-footer {
    margin-top: 100px;
}
#download {
    padding: 20px 0;
}